<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Whack A Mole!</title>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <!-- <link rel = "stylesheet" href="/css/game.css" type="text/css"> -->
  <link rel = "stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
  
  <%-include('header.ejs') %>  
  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Game_Log_id</th>
          <th>Score</th>
          <th>When</th>
          <!-- <th class="d-print-none">
            <a class="btn btn-sm btn-success" href="/api/board/create">Add</a>
          </th> -->
        </tr>
      </thead>
      <tbody>
        <% for (const log of logs) { %>
          <tr>
            <td><%= log.id %></td>
            <td><%= log.score %></td>
            <td><%= log.user_id %></td>
            <td><%= log.created %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>


</body>
</html>